
/*
1.0 Reset
2.0 General
3.0 Header
	3.1 Header-spacer
4.0 live projects
5.0 Github
*/


/*================================
1.0 Reset

==================================*/

html {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

*, 
*:before,
*:after {
	box-sizing:inherit;
	margin:0;
	padding:0;
}
/*================================
2.0 General

==================================*/

body {
	display:flex;
	flex-direction: column;
}

h1 {
	color:#fff;
	/*font-family: "Oswald", sans-serif;*/
	font:100 72px/108px "Oswald", Arial, sans-serif;
}

h2 {
	color:#222;
	font:100 65px/97.5px "Oswald", Arial, sans-serif;
}

div {
	color:#fff;
	/*font-family: "Roboto Condensed", sans-serif;
	font-weight:100;*/

	font:100 30px/45px "Roboto Condensed", Arial, sans-serif;

}

section {
	height:705px;
	background:#ddd;
	border-bottom: 1px solid #999;
	border-top: 1px solid #fff;
}

a {
	text-decoration: none;
}

button {
	height:30px;
	border:1px solid #999;
	text-decoration: none;
	padding:0 10px 0 10px;
	border-radius:3px;
	font:15px/20px "Lato", Arial, sans-serif;
	color:#333;
}

button:hover {
	background: #ddd;
	border:1px solid #00ff99;
}

button a {
	color:#333;
	padding-top:3px;
}

article {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
       -moz-box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
            box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
    border-radius: 3px;
}

/*================================
3.0 Header

==================================*/
header {
	height:500px;
	width:100%;
	background:grey;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.selfie {
  width: 425px;
  height: 425px;
  overflow: hidden;
  border-radius: 50%;
  background:;
}

.selfie img {
  width: 140%;
  position:relative;
  top:px;
  right:90px;
  height: auto%;
}

#header-content {
	position:relative;
	bottom: 110px;
	right:20px;

	background:;
	border:1px solid #fff;
	border-radius:5px;
	height:220px;
	width:500px;

	display:flex;
	justify-content:;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top:;
	margin-bottom:;
}

#header-content #title {
	width:80%;
	margin-bottom: 10px;
}

.header-projects {
	opacity: .8;
	width:500px;
	height:200px;
	margin-top: 20px;
	display:flex;

	flex-wrap:wrap;
	justify-content: space-around;
	align-items: center;
}

header article {
	height:40px;
	width:40px;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(163,163,163,1);
       -moz-box-shadow: 3px 3px 0px 0px rgba(163,163,163,1);
            box-shadow: 3px 3px 0px 0px rgba(163,163,163,1);
    border-radius: 3px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

header article h2 {
	position: relative;
	right:50px;
	font-size: 20px;
	line-height: 25px;
}

header article div {
	position: relative;
	right:10px;
}

header article:hover{
	-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1); /* Standard syntax */
    -webkit-box-shadow: 3px 3px 0px 0px rgba(163,163,163,1);
       -moz-box-shadow: 3px 3px 0px 0px rgba(163,163,163,1);
            box-shadow: 3px 3px 0px 0px rgba(100,100,100,1);



}

header article:nth-child(4) {
	background:#000 url("img/lights.png") no-repeat 0px -40px;
	background-size:300% 300%;
}

article h6 {
	position:relative;
	height:100%;
	left:10px;
	color:#fff;
	z-index: 2;
	display:;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
   	text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}

/*================================
3.1 Header-spacer

==================================*/
.header-spacer {
	background: #292929;
	height:202px;
}

.header-buttons {
	display:flex;
	justify-content: center;
	align-items:;
}

.header-buttons button {
	position:relative;
	right:5px;
	margin:30px 8px 0 8px;
}

.fa-arrow-down {
	color:#c9c9c9;
}

.fa-arrow-down:hover {
	color:#fff;
	text-shadow: 0px 0px 5px #00ffaa;
	cursor:pointer;

}

.header-spacer a {
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;

}
.header-spacer i {
	align-self: center;
}

/*================================
4.0 live projects

==================================*/

section {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	align-items: center;
}

article {
	height:300px;
	width:400px;
	background:#000;
	cursor:pointer;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

article:hover {
	-webkit-transform: scale(1.01,1.01); /* Safari */
	    -ms-transform: scale(1.01,1.01); /* IE 9 */
    
    transform: scale(1.01,1.01); /* Standard syntax */
      -webkit-box-shadow: 10px 10px 3px 0px rgba(163,163,163,1);
       -moz-box-shadow: 10px 10px 3px 0px rgba(163,163,163,1);
            box-shadow: 10px 10px 3px 0px rgba(100,100,100,1);
}

article:nth-child(1) {
	background:url("img/youtube-play.jpeg") no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	/*background-position: 0 -50px;*/
}

article:nth-child(2) {
	background:url("img/mint-leaf.png") no-repeat 0px 0;
	background-size: cover;
	
}

#mint {
	background-color: white;
	background-size: 80% 100% ;
	background-position: center;

}

article:nth-child(3) {
	background:url("img/js.png") no-repeat;
	background-size: 100% 100%;
}

article:nth-child(4) {
	background:#000 url("img/lights.png") no-repeat 0 -185px;
	background-size:200% 200%;
}

article:nth-child(5) {
	background:url("img/tic-tac-toe.png") no-repeat;
	background-size: 100% 100%;
}

article:nth-child(6) {
	background:url("img/mastermind.png") no-repeat;
	background-size: 100% 100%;
}

#youtube{
	background:url("img/youtube-play.jpeg") no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	background-position: 0 -50px;
}

article img {
	width:100%;
	height:100%;
}

.overlay {
	height:100%;
	width:100%;

}

. overlay:hover {
	background-color:#000;
    opacity:0.5;
    color:#fff;
    visibility: visible;
}

article h2 {
	position:relative;
	height:100%;
	left:10px;
	color:#fff;
	z-index: 2;
	display:;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in;
       -moz-transition: opacity 0.3s ease-in;
         -o-transition: opacity 0.3s ease-in;
        -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
   	text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}

article h2:hover {
	display:block;
	z-index: 3;
	opacity: 1;	
}

#middle-button {
	position:relative;
	bottom:40px;
	display:flex;
	justify-content: center;
	background: yellow;
}

#scroll-container :hover {
	color:#fff;
}

/*================================
5.0 Github

==================================*/


#scroll-container {
	position:relative;
	display:flex;
	justify-content: center;
	width:100%;
	bottom:;
}

nav {
	background: #f9f9f9;
	height:704px;
	display:flex;
	justify-content:space-around;
	flex-direction: row-reverse;
	border-bottom: 1px  solid #ddd;
}

nav a img {
	position:relative;
	top:20px;
	left:;

	height:400px;
	-webkit-box-shadow: 10px 10px 26px 8px rgba(184,182,184,1);
       -moz-box-shadow: 10px 10px 26px 8px rgba(184,182,184,1);
            box-shadow: 10px 10px 26px 8px rgba(184,182,184,1);
    border-radius:5px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

nav a img:hover {
	-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.01,1.01); /* Standard syntax */
    -webkit-box-shadow: 10px 10px 26px 8px rgba(120,120,120,1);
       -moz-box-shadow: 10px 10px 26px 8px rgba(120,120,120,1);
            box-shadow: 10px 10px 26px 8px rgba(120,120,120,1);
}

.nav-el {
	position:relative;
	top:100px;
}

#nav-content {
	width:30%;
	height:auto;
	min-width: 300px;
	background:;
	text-align: center;
}

nav div {
	line-height:35px;
	color:grey;
}

#to-top {
	display:flex;
	justify-content: center;
	height:100px;
}


#to-top:hover {
	background:#333;
	color:#fff;
	text-shadow: 0px 0px 1px #00ffaa;
	cursor:pointer; 

}
#to-top a{
	color:#999;	
	width:900px;
}

#to-top a:hover {
	color:#fff;
}

